# Directorios de construcción y cache
__pycache__/
*.py[cod]
build/
dist/
*.egg-info/

# Archivos de PyInstaller
*.manifest
*.spec

# Directorios de pruebas
tests/output/*
!tests/output/.gitkeep
tests/data/expected/*
!tests/data/expected/.gitkeep

# Archivos de cobertura
.coverage
coverage.xml
htmlcov/

# Carpetas de Trabajo
CONSOLIDADO ENTREGA IPPTA's & PLANEADORES/*

# Entornos virtuales
venv/
env/
.env/

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
.cursor/

# Archivos temporales
*.tmp
*.bak
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos CustomTkinter generados
*.sqlite3
*.ttk
__tk_cache__/

# Archivos de salida
*.zip
output/
temp/
