# Directorios de construcción y cache
__pycache__/
*.py[cod]
build/
dist/
*.egg-info/

# Archivos de PyInstaller
*.manifest
*.spec

# Directorios de pruebas
tests/output/*
!tests/output/.gitkeep
tests/data/expected/*
!tests/data/expected/.gitkeep

# Carpetas de Trabajo
CONSOLIDADO ENTREGA IPPTA's & PLANEADORES/*

# Entornos virtuales
venv/
env/
.env/

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.bak
*.log

# Archivos de sistema
.DS_Store
Thumbs.db
